.header {
    width: 100%;
    background-color: #333;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
}

.logo a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-left: 1.5rem;
    font-size: 1.2rem;
}

.nav a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #fff;
}

.nav a:hover,
.nav a:active,
.nav a.active {
    color: #777;
}

.nav-button {
    border: 2px solid #68eefa;
    padding: 0.5rem 1.2rem;
    color: #68eefa;
}

.nav-button:hover {
    color: white;
    background-color: #68eefa;
}